@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #0c1816;
    --cor1: #29524A;
    --cor2: #66A182;
    --cor3: #EDEAD0;

    --font-title: 'Android', cursive;
}
*{
    margin: 0;
    color: var(--cor3);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: var(--cor1); */
    background-image: linear-gradient(to bottom, #29524A, #1b3832);
}
header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;
}
header h1{
    font-family: var(--font-title);
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 10px;
}
header p{
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0 40px 0 40px;
}
header nav{
    padding: 5px 0 5px 0;
}
header nav > a{
    display: inline-block;
    color: white;
    margin: 20px 5px 0 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .7s;
    border-radius: 7px;
}
header nav > a:hover{
    color: white;
    background-color: var(--cor0);
}
main{
    background-color: var(--cor2);
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    padding: 40px;
    border-radius: 10px 70px 10px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.555);
}
main h1{
    font-family: var(--font-title);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.9);
}
main h2{
    font-family: var(--font-title);
    font-weight: 100;
    color: rgba(0, 0, 0, 0.9);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
main p{
    text-align: justify;
    line-height: 1.5em;
    padding: 20px 0;
}
main strong{
    color: var(--cor1);
    font-weight: bold;
}
main a{
    color: var(--cor2);
    background-color: #18302c;
    padding: 1px 2px;
    text-decoration: none;
}
main a::after{
    content: ' \260D ';
}
main img{
    width: 70%;
    display: block;
    margin: auto;
}
main img.pequeno{
    max-width: 300px;
}
main div.video{
    background-color: var(--cor1);
    position: relative;
    margin: 40px 0;
    padding: 28% 50%;
    border-radius: 8px;
}
main iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main > aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 8px;
}
main aside h2{
    margin: -10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
}
main aside ul{
    columns: 2;
    padding: 20px 0;
    list-style-position: inside;
}
main abbr{
    text-decoration-color: var(--cor2);
    text-decoration-thickness: 2px;
}
footer{
    background-color: var(--cor0);
    color: white;
    padding: 25px 1em 25px 1em;
}